<div class="black_layer"></div>
<div class="content_and_background external-links-page">
  <div class="page_background">
    <%= page_background_asset(page) %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>

  <div class="content">
    <div class="scroller">
      <div>
        <div class="content_wrapper">
          <%= page_default_content(page) %>

          <div class="ext-links" id="ext-links">
            <div id="horizontal_scroller">
              <%= render Pageflow::ExternalLinks::Site.from_perma_ids(@entry.try(:revision), configuration['linked_external_site_perma_ids']) %>
            </div>
          </div>
          <a href="#" class="arrow-forward"><span class="hint"><%= t('pageflow.public.forward') %></span></a>
          <a href="#" class="arrow-back"><span class="hint"><%= t('pageflow.public.back') %></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
